
/* Declaring custom properties */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#logo{
  background-color: black;
}
#menu{
  text-align: center;
}
.menu ul {
  padding: 30px;
  margin: 0;
}

.menu li {
  display: inline-block;
  list-style-type: none;
}
#carrito {
  background-color: black;
}
.img-carrito {
  position: relative;
  float: right;

}
.imagen-apaisada{
  position: relative;
}
.imagen-apaisada img {
  width:100%;
  max-width:100%;
}
.centrada-en-imagen{
  position: absolute;
  background-color: black;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1em 3em;
}
.centrada-en-imagen p{
color: white;
}
.abajo-en-imagen {
  position: absolute;
  background-color: black;
  color: white;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
#search {
background-color: yellow;
}

.titulo-centrado {
  padding-bottom: 5em !important;
}
.imagen-porland  {
  text-align: center;
  }
.imagen-porland img{
width: 120px;
height: 120px;
}
#porland{
text-align: center;
}
.llamado-de-emergencia{
  position: relative;
  right: px;
  bottom: 63.3px;
}
.llamado-de-emergencia img{
width: 40px;
height: 40px;
}
.llamado-de-emergencia img{
  margin-right: 200px;
}
.gutters {

  margin-top: 40px;
  text-align: center;
  padding: 100px;
  background-color: #e6e9eb;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.img-tick {
  width: 30px;
  float: left;
}



#tcapa-l{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.tcapa-franjas > img {
top: 10px;
width: 170px;
height: 90px;
}
.tcapa-franjas  {
  text-align: center;

}
